{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация показаний приборов учета</title>
    <link href="{% static 'css/bootstrap-4/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-4/bootstrap.min.cs' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-4/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-4/bootstrap-reboot.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    {% include 'blocks/navbar.html' %}
    {% include 'blocks/messages.html' %}

<div class="container">
        <div class="row">
            <div class="col-3">
                {% block leftrow %}
                {% endblock %}
            </div>
            <div class="col-7 content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-2">
                {% block rightrow %}
                {% endblock %}
            </div>
            </div>
        </div>
</div>
</body>
</html>