{% extends 'base.html' %}
{% load staticfiles my_filters %}
{% load render_table from django_tables2 %}

{% block leftrow %}
<div class="card">
        <div class="card-body">
            <form method="post" name="firter-post-form" id=filterform enctype="multipart/form-data">
                {% csrf_token %}
                {{ filterform.as_table }}
                <input class="form-control btn btn-outline-success btn-sm" type="submit" value="Фильтр">
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
    {% else %}
    <div class="card">
        <div class="card-body">
            <form method="post" name="new-post-form" id=addform enctype="multipart/form-data">
                {% csrf_token %}
                {{ addform.as_p }}
                <input class="form-control btn btn-outline-success btn-sm" type="submit" value="Добавить">
            </form>
        </div>
    </div>
    {% endif %}
    <div class="timeline">
        {% render_table meters %}
    </div>
{% endblock %}


{% block rightrow %}
{% endblock %}